{{define "page"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{.MetaDescription}}">
  <title>{{.Title}}</title>
  <link href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'/>" rel="icon" type="image/x-icon">
  <style>
    {{template "style.css"}}
  </style>
</head>
<body>
  <main>
    {{template "page-content" .}}
  </main>
</body>
</html>
{{end}}
