body {
  font-family: Menlo, Monaco, "Ubuntu Mono", monospace;
  font-size: 14px;
  color: #ddd;
  background: #000;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

h1, h2, h3, p, ul {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin: 20px 0;
}

p {
  padding-top: 20px;
}

main {
  padding: 40px 10px 0;
  margin: 0 auto;
  max-width: 600px;
  min-width: 280px;
}

ul {
  padding: 20px 0 0 20px;
}

li {
  list-style-type: square;
  padding: 0 0 20px 20px;
}

a {
  color: #68d8ef;
}

a:visited {
  color: #53aec3;
}

a:hover {
  color: #68e5fd;
}
